In [42]:
import os


#modeltest = snakemake.input["modeltest"]
#algo = snakemake.params["algo"]
modeltest = '/Users/devseeva/Desktop/work/sm_workflow/geneTrack/korea_outputs/korea_modeltest_2/korea_concat_no_RR.fasta.out'
algo = 'phyml'

cmd = []
for l in open(modeltest, 'r'):
    
    if algo == 'raxml' and '> raxml-ng' in l:
        cmd.append(l.replace('>','').strip())
    if algo == 'phyml' and '> phyml' in l:
        cmd.append(l.replace('>','').strip())

if len(set(cmd)) != 1:
    print('*** Warning: modeltest predicted different models ***' )

cmd = cmd[0]

os.system(cmd)

'phyml  -i korea_concat_no_RR.fasta -m 012345 -f m -v e -a e -c 4 -o tlr'

In [44]:
import pandas as pd
ids = 'korea2' #'rso_test'  #

prot_db = pd.read_pickle('../'+ids+'_outputs/GENOME_PROTEIN_DB_'+ids+'.pkl')
prot_db

,to53$to53,Pe_1$pe1,pe15$pe15,Pe_3$pe3,pe13$pe13,Pe_39$pe39,pe61$pe61,to7$to7,to36$to36,to1$to1,pe56$pe56,Pe_57$pe57,to28$to28,pe9$pe9,Pe_27$pe27,pe26$pe26,to63$to63,pe18_round_3.fasta$pe18,pe30$pe30
GDEOEPAP_00001,"{'chr': '1', 'location': (30, 31, 32, 33, 34, ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
GDEOEPAP_00002,"{'chr': '1', 'location': (1876, 1877, 1878, 18...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
GDEOEPAP_00003,"{'chr': '1', 'location': (3128, 3129, 3130, 31...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
GDEOEPAP_00004,"{'chr': '1', 'location': (7139, 7138, 7137, 71...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
GDEOEPAP_00005,"{'chr': '1', 'location': (8581, 8582, 8583, 85...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
EENJCLCO_05336,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"{'chr': 'cluster_012', 'location': (8609, 8610..."
EENJCLCO_05337,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"{'chr': 'cluster_012', 'location': (10200, 101..."
EENJCLCO_05338,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"{'chr': 'cluster_012', 'location': (11858, 118..."
EENJCLCO_05339,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"{'chr': 'cluster_012', 'location': (12330, 123..."
EENJCLCO_05340,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"{'chr': 'cluster_012', 'location': (12668, 126..."